*{
    margin: 0;
    padding: 0;
}

/*  * - селектор всех всех елементов на странице*/

body{
    font-family: sans-serif;
}


.container{
    width: 1170px;
    margin: 0 auto;

}

.hero{
    background-image: url(../img/hero-background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 528px;
    padding-bottom: 133px;

}
.hero-title{
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    color: white;
    margin-bottom: 16px;

}

.hero-subtitle{
    font-size: 18px;
    line-height: 22px; 
    margin-bottom: 22px;
    color: #FFFFFF;
    

}

.hero-slogan{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 38px 31px;
    font-weight: bold;
    font-size: 54px;
    line-height: 66px;
    text-transform: uppercase;
    border:2px solid white ;
    width:833px ;


}















.orange-text{
    color: #F48E0B;

}